.ombre1{
    height: 250px;;
    width: 15%;
    margin:20px ;
    background: #ddd;

    box-shadow: 20px 50px 100px red ;
    border-radius: 16px 20px 40px;
}

.ombre2{
    height: 250px;;
    width: 20%;
    margin:20px ;
    background: #ddd;

    box-shadow: 20px 50px 100px red inset;
    border-radius: 16px 20px 40px ;
    position: relative;
    bottom: 100px;
}

p{
    font: 2em Arial; 
    text-shadow: 2px 2px 10px purple ;
    position: relative;
    left: 300px;
    bottom: 300px;

}
